input[type=submit]
{
    background-color: #795548;
    color: #FFF;
    border: none;
  outline: none;
}
input[type=submit]:hover {
    background-color: #5D4037;
     color: #FFF;
     border: none;
  outline: none;
  box-shadow: 3px 4px 4px #888888;
  transition: box-shadow 0.2s ease-in-out;
}

.tfields
{
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  text-align: center;
  color:#795548;
}
input[type = checkbox]
{
  height:20px;
  width:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}